.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid #cccccc;
}

a, i {
  display: block;
}
i{
  font-style: normal;
}

.header {
  //height: 80px;
  .container {
    padding: 14px 0;
    box-sizing: border-box;
  }
  .logo {
    width: 198px;
    height: 52px;
    background: url("../images/logo/logo.png") no-repeat center;
    float: left;
  }
  .advisory {
    width: 160px;
    height: 45px;
    float: right;
    //border: 1px solid #f45353;
    background: url("../images/btn/wechat_bg.png") no-repeat center;
    //border-radius: 10px;
    padding: 0 24px;
    box-sizing: border-box;
    .icon {
      width: 30px;
      height: 45px;
      background: url("../images/icon/wechart.png") no-repeat center;
      float: left;
      margin-right: 6px;
    }
    span {
      font-size: 18px;
      color: #f45353;
      line-height: 45px;
    }
  }
}

.banner {
  width: 100%;
  height: 500px;
  background: url("../images/bg/banner.png") no-repeat center;
  .detail {
    width: 264px;
    text-align: center;
    font-size: 24px;
    line-height: 56px;
    border-radius: 28px;
    background: url("../images/btn/btn1.png") no-repeat center;
    padding: 0 82px;
    box-sizing: border-box;
    color: #FFFFFF;
    position: absolute;
    top: 426px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*承诺*/
.promise {
  width: 1016px;
  height: 196px;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: -68px;
  border-radius: 10px;
  background: url("../images/icon/promise.png") no-repeat center;
  .promise-item {
    margin: 0 58px;
    //border: 1px solid #000;
    display: inline-block;
    padding: 36px 0;
    box-sizing: border-box;
    .bg{
      float: left;
      margin-right: 16px;
    }
    .text {
      float: right;
      .item-h2 {
        font-size: 20px;
        font-weight: bold;
        color: #5859e9;
        line-height: 24px;
      }
      span {
        font-size: 14px;
        color: #333333;
        line-height: 36px;
      }
    }
  }
  .hint{
    font-size: 16px;
    text-align: center;
    line-height: 58px;
    color: #FFFFFF;
  }
}

/*考试*/
.exam{
  //border: 1px solid #000;
  margin-top: 48px;
  padding-bottom: 60px;
  background: url("../images/bg/bg1.png") no-repeat center;
  .title{
    width: 100%;
    height: 95px;
    background: url("../images/icon/title_1.png") no-repeat center;
  }
  .stage{
    //border: 1px solid #cccccc;
    margin: 46px -20px;
    .stage-item{
      //border: 1px solid #000;
      width: 296px;
      height: 320px;
      text-align: center;
      box-sizing: border-box;
      margin-right: 14px;
      float: left;
      position: relative;
      .bg{
        position: absolute;
        top: 0;
        left: 0;
      }
      .text{
        width: 100%;
        //border: 1px solid #000;
        font-size: 14px;
        color: #333333;
        padding: 20px 54px;
        box-sizing: border-box;
        margin-top: 160px;
        line-height: 30px;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        p{
          a{
            float: left;
          }
        }
      }
    }
  }
  .btn{
    //border: 1px solid #cccccc;
    text-align: center;
    font-size: 18px;
    .btn-item{
      padding: 0 62px;
      line-height: 52px;
      display: inline-block;
      color: #f49d36;
      //border: 1px solid #f49d36;
      //border-radius: 46px;
      position: relative;
      .bg{
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover, &.sel{
        //color: #FFFFFF;
      }
      &:first-child{
        margin-right: 30px;
      }
    }
  }
}

/*vip*/
.vip{
  width: 100%;
  height: 610px;
  background: url("../images/bg/bg2.png") no-repeat center;
  padding-top: 25px;
  box-sizing: border-box;
  .title{
    //border: 1px solid #000;
    width: 100%;
    height: 94px;
    background: url("../images/icon/title_2.png") no-repeat center;
  }
  .content{
    width: 1240px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/bg/bg3.png") no-repeat center;
    padding: 37px 20px;
    box-sizing: border-box;
    .cont-left{
      width: 300px;
      height: 240px;
      //border: 1px solid #000;
      padding: 28px 36px;
      box-sizing: border-box;
      float: left;
      .left-head{
        font-size: 22px;
        color: #FFFFFF;
        //text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        .icon{
          width: 76px;
          height: 48px;
          background: url("../images/icon/square1.png") no-repeat center;
          text-align: center;
          line-height: 40px;

          float: left;
        }
        span{
          float: left;
          font-size: 24px;
          strong{

            font-size: 30px;
          }
        }
      }
      .btn{
        padding: 0 24px;
        line-height: 46px;
        font-size: 22px;
        font-weight: bold;
        color: #FFFFFF;
        border-radius: 23px;
        background: #797aed;
        margin-bottom: 10px;
        .icon{
          width: 12px;
          height: 12px;
          background: url("../images/icon/circle.png") no-repeat center;
          float: left;
          margin-top: 16px;
          margin-right: 6px;
        }
        span{
          float: left;
          font-weight: bold;
        }
        &:hover{
          color: #5859e9;
        }
      }
    }
    .cont-right{
      width: 898px;
      height: 240px;
      //border: 1px solid #cccccc;
      float: left;
      padding-top: 32px;
      padding-left: 38px;
      box-sizing: border-box;
      .right-item{
        color: #333333;
        font-size: 16px;
        //border: 1px solid #000;
        float: left;
        width: 20%;

        box-sizing: border-box;
        margin-bottom: 28px;
        .icon{
          width: 22px;
          height: 22px;
          background: url("../images/icon/circle_sel.png") no-repeat center;
          float: left;
          margin-right: 10px;
        }
        span{
          float: left;
          line-height: 22px;
        }
      }
    }
  }
  .course{
    //border: 1px solid #cccccc;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    .course-item{
      padding: 0 100px;
      line-height: 52px;
      display: inline-block;
      color: #f49d36;
      border: 1px solid #f49d36;
      border-radius: 46px;
      &:hover, &.sel{
        background: #f49d36;
        color: #FFFFFF;
      }
    }
  }
}

/*9大社群服务 为您保驾护航*/
.serve{
  height: 685px;
  padding-top: 25px;
  padding-bottom: 50px;
  box-sizing: border-box;
  .title{
    //border: 1px solid #000;
    width: 100%;
    height: 94px;
    background: url("../images/icon/title_3.png") no-repeat center;
    margin-bottom: 25px;
  }
  .serve-content{
    //border: 1px solid #000;
    .serve-item{
      width: 209px;
      height: 208px;
      border: 1px solid #dddddd;
      padding: 32px 2px;
      box-sizing: border-box;
      border-radius: 16px;
      float: left;
      margin-right: 38px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #333333;
      line-height: 50px;
      .icon{
        width: 100%;
        height: 96px;
        background: url("../images/icon/serve1_nor.png") no-repeat center;
      }
      .more{
        font-size: 30px;
        color: #5859e9;
        padding-top: 21px;
        box-sizing: border-box;
      }
      &:nth-of-type(2){
        .icon{
          background: url("../images/icon/serve2_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve2_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(3){
        .icon{
          background: url("../images/icon/serve3_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve3_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(4){
        .icon{
          background: url("../images/icon/serve4_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve4_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(5){
        .icon{
          background: url("../images/icon/serve5_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve5_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(6){
        .icon{
          background: url("../images/icon/serve6_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve6_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(7){
        .icon{
          background: url("../images/icon/serve7_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve7_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(8){
        .icon{
          background: url("../images/icon/serve8_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve8_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(9){
        .icon{
          background: url("../images/icon/serve9_nor.png") no-repeat center;
        }
        &:hover{
          .icon{
            background: url("../images/icon/serve9_sel.png") no-repeat center;
          }
        }
      }
      &:nth-of-type(5n + 5){
        margin-right: 0;
      }
      &:hover{
        background: #5859e9;
        color: #FFFFFF;
        .icon{
          background: url("../images/icon/serve1_sel.png") no-repeat center;
        }
        .more{
          color: #FFFFFF;
        }
      }
    }
  }
}

/*0元领取精华备考资料包*/
.data-bag{
  width: 100%;
  height: 620px;
  background: url("../images/bg/bg4.png") no-repeat center;
  padding-top: 25px;
  box-sizing: border-box;
  .title{
    //border: 1px solid #000;
    width: 100%;
    height: 94px;
    background: url("../images/icon/title_4.png") no-repeat center;
    margin-bottom: 25px;
  }
  .get{
    width: 620px;
    //height: 380px;
    background: url("../images/bg/bg5.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 72px;
    box-sizing: border-box;
    //border: 1px solid #000;
    color: #888888;
    font-size: 14px;
    text-align: center;
    .types{
      float: left;
      text-align: left;
      .types-select {
        display: none;
      }
      .types-replace {
        cursor: default;
        overflow: visible;
        position: relative;
        width: 220px;
        .current-type {
          width: 220px;
          line-height: 45px;
          background: url("../images/icon/triangle.png") no-repeat 190px center #FFFFFF;
          border-radius: 5px;
          padding: 0 20px;
          box-sizing: border-box;
        }
        .types-options {
          display: none;
          list-style-type: none;
          margin-top: 0;
          position: absolute;
          width: 220px;
          border: 1px solid #f78b2b;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #FFF;
          z-index: 10;
          li {
            width: 218px;
            line-height: 30px;
            border-radius: 5px;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: #FFF;
            &:hover {
              background: #fde8d5;
            }
          }
        }
      }
    }
    .degree{
      float: right;
      text-align: left;
      .degree-select {
        display: none;
      }
      .degree-replace {
        cursor: default;
        overflow: visible;
        position: relative;
        width: 220px;
        .current-degree {
          width: 220px;
          line-height: 45px;
          background: url("../images/icon/triangle.png") no-repeat 190px center #FFFFFF;
          border-radius: 5px;
          padding: 0 20px;
          box-sizing: border-box;
        }
        .degree-options {
          display: none;
          list-style-type: none;
          margin-top: 0;
          position: absolute;
          width: 220px;
          border: 1px solid #f78b2b;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #FFF;
          z-index: 10;
          li {
            width: 218px;
            line-height: 30px;
            border-radius: 5px;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: #FFF;
            &:hover {
              background: #fde8d5;
            }
          }
        }
      }
    }

    input{
      border: none;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      height: 45px;
      line-height: 45px;
      border-radius: 5px;
      margin-top: 20px;
      &::placeholder{
        color: #888888;
      }
    }
    input:-ms-input-placeholder {
      color:#888888 !important;
    }
    .picture-auth{
      //border: 1px solid #000;
      position: relative;
      .img{
        position: absolute;
        top: 31px;
        right: 58px;
      }
      .refresh{
        //border: 1px solid #000;
        padding: 0;
        margin-top: 0;
        width: 24px;
        height: 22px;
        background: url("../images/icon/refresh.png") no-repeat center;
        position: absolute;
        top: 31px;
        right: 18px;
        transition: transform 0.5s; //过度时间 可调
        cursor: pointer;
      }
    }
    .msg-auth{
      //border: 1px solid #cccccc;
      position: relative;
      .get-msg-auth{
        width: 25%;
        font-size: 14px;
        color: #f78b2b;
        //border: 1px solid #000;
        position: absolute;
        top: 20px;
        right: 4px;
        cursor: pointer;
        line-height: 45px;
        background: #FFFFFF;
        margin-top: 0;
        padding: 0;
      }
    }
    .submit{
      width: 60%;
      color: #FFFFFF;
      background: #f78b2b;
      border-radius: 26px;
      cursor: pointer;
      font-size: 18px;
      font-family:"Microsoft YaHei";
      &:hover{
        background: #F78410;
      }
    }
  }
}

.about-us{
  width: 100%;
  height: 400px;
  background: url("../images/bg/bg6.png") no-repeat center;
  color: #FFFFFF;
  .us-content{
    width: 55%;
    height: 400px;
    //border: 1px solid #cccccc;
    padding: 45px 0;
    box-sizing: border-box;
    float: left;

    .us-h2{
      font-size: 34px;
      font-weight: bold;
      line-height: 40px;
      //border: 1px solid #000;
      margin-bottom: 20px;
    }
    .detail{
      font-size: 16px;
      line-height: 30px;
      //border: 1px solid red;
      margin-bottom: 30px;
    }
    .phone{
      font-size: 24px;
      font-weight: bold;
      //border: 1px solid yellow;
      margin-bottom: 20px;
      .icon{
        width: 60px;
        height: 64px;
        background: url("../images/icon/tel.png") no-repeat center;
        float: left;
        margin-top: 14px;
      }
      .hot-line{
        strong{
          font-size: 36px;
          font-style: italic;
          padding-right: 4px;
        }
      }
    }
    .address{
      font-size: 16px;
    }
  }

  .QR-code{
    width: 45%;
    height: 400px;
    //border: 1px solid #000;
    padding: 10% 0 0 10%;
    box-sizing: border-box;
    float: right;
    font-size: 16px;
    .code-item{
      //border: 1px solid #000;
      padding: 25px;
      box-sizing: border-box;
      float: left;
      line-height: 30px;
      .icon{
        width: 108px;
        height: 108px;
        background: url("../images/icon/accounts.png") no-repeat center;
        margin-left: auto;
        margin-right: auto;
      }
      &:nth-of-type(2){
        .icon{
          background: url("../images/icon/app.png") no-repeat center;
        }
      }
    }
  }
}

.footer{
  font-size: 14px;
  color: #888888;
  text-align: center;
  line-height: 30px;
  padding: 24px 0;
  box-sizing: border-box;
}